* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background: #835afd3b;
    color: #000055;
}

body:dark-mode {
    background:black;
    color: white;
}

body, input, button, textarea {
    font: 400 16px 'Roboto', 'sans-serif';
}